<table class="table table-hover">
  <tr>
    <th>头盔</th>
    <th>胸甲</th>
    <th>手套</th>
    <th>腿甲</th>
    <th>战靴</th>
    <th>最大防御力</th>
  </tr>
</table>
<center>
  <div class="pagination">
    <ul>
      <li><a href="#" class="prev-btn">Previous</a></li>
      <li><a href="#"><%=page%></a></li>
      <li><a href="#" class="next-btn">Next</a></li>
    </ul>
  </div>
</center>
<div class="alert alert-success">
  Search completes in <%=timeConsumption%> seconds.
</div>


