<select style="width:300px" multiple>
  <optgroup label="头部防具">
    <option value="AK">龙王头</option>
    <option value="HI">水龙头</option>
  </optgroup>
  <optgroup label="胸甲">
    <option value="CA">雷狼胸甲</option>
    <option value="NV">青熊胸甲</option>
    <option value="OR">雌火龙护胸</option>
    <option value="WA">水龙护心镜</option>
  </optgroup>
</select>
