<div class="page-header">
  <h1>Armor Blacklist <small>manage the armors to be avoided in the search 
      (<b>Type</b> or <b>Scroll</b> to select) </small></h1>
</div>
<select  multiple>
</select>


