<span class="label label-success">防御力 <%=defense%></span>
<table class="table">
  <tr>
    <td class="armor-td">
      <a class="btn btn-small head-slot">
        <%=head%></a>
    </td>
    <td class="head-jewels">
    </td>
  </tr>

  <tr>
    <td class="armor-td">
      <a class="btn btn-small chest-slot">
        <%=chest%></a>
    </td>
    <td class="chest-jewels">
    </td>
  </tr>


  <tr>
    <td class="armor-td">
      <a class="btn btn-small hand-slot">
        <%=hand%></a>
    </td>
    <td class="hand-jewels">
    </td>
  </tr>

  <tr>
    <td class="armor-td">
      <a class="btn btn-small waist-slot">
        <%=waist%></a>
    </td>
    <td class="waist-jewels">
    </td>
  </tr>


  <tr>
    <td class="armor-td">
      <a class="btn btn-small foot-slot">
        <%=foot%></a>
    </td>
    <td class="foot-jewels">
    </td>
  </tr>
</table>


