<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3><%=title%></h3>
</div>
<div class="modal-body">
  <p>What do you want to do with the armor?</p>
</div>
<div class="modal-footer">
  <a class="btn btn-success btn-pin"><i class="icon-white icon-ok-circle"></i>Always Use It </a>
  <a class="btn btn-danger btn-remove"><i class="icon-white icon-ban-circle"></i>Prohibit It from Being Used</a>
  <a class="btn btn-primary btn-cancel" data-dismiss="modal" aria-hidden="true">Cancel</a>
</div>

