<li class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="hunterkit/icons/skill.png">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%=caption%></h4>
    <%=description%>
  </div>
</li>
