<td><a class="btn head-slot" 
       data-toggle="popover" 
       data-placement="top" 
       data-content="<%=headJewels%>" title="镶嵌珠">
    <%=head%></a>
</td>

<td><a class="btn chest-slot" 
       data-toggle="popover" 
       data-placement="top" 
       data-content="<%=chestJewels%>" title="镶嵌珠">
    <%=chest%></a>
</td>

<td><a class="btn hand-slot" 
       data-toggle="popover" 
       data-placement="top" 
       data-content="<%=handJewels%>" title="镶嵌珠">
    <%=hand%></a>
</td>

<td><a class="btn waist-slot" 
       data-toggle="popover" 
       data-placement="top" 
       data-content="<%=waistJewels%>" title="镶嵌珠">
    <%=waist%></a>
</td>

<td><a class="btn foot-slot" 
       data-toggle="popover" 
       data-placement="top" 
       data-content="<%=footJewels%>" title="镶嵌珠">
    <%=foot%></a>
</td>

<td><%=defense%></td>

