<td>
  <div class="btn-group">
    <!-- <a class="btn pin-head"><i class="icon-map-marker icon-white"></i></a> -->
    <a class="btn head-slot" 
       data-toggle="popover" 
       data-placement="top" 
       data-content="<%=headJewels%>" title="镶嵌珠">
      <%=head%></a>
    <a class="btn drop-armor"><i class="icon-remove icon-white"></i></a>
  </div>
  haha
</td>

<td>
  <div class="btn-group">
    <!-- <a class="btn pin-chest"><i class="icon-map-marker icon-white"></i></a> -->
    <a class="btn chest-slot" 
       data-toggle="popover" 
       data-placement="top" 
       data-content="<%=chestJewels%>" title="镶嵌珠">
      <%=chest%></a>
    <a class="btn drop-armor"><i class="icon-remove icon-white"></i></a>
  </div>
</td>

<td>
  <div class="btn-group">
    <!-- <a class="btn pin-hand"><i class="icon-map-marker icon-white"></i></a> -->
    <a class="btn hand-slot" 
       data-toggle="popover" 
       data-placement="top" 
       data-content="<%=handJewels%>" title="镶嵌珠">
      <%=hand%></a>
    <a class="btn drop-armor"><i class="icon-remove icon-white"></i></a>
  </div>
</td>

<td>
  <div class="btn-group">
    <!-- <a class="btn pin-waist"><i class="icon-map-marker icon-white"></i></a> -->
    <a class="btn waist-slot" 
       data-toggle="popover" 
       data-placement="top" 
       data-content="<%=waistJewels%>" title="镶嵌珠">
      <%=waist%></a>
    <a class="btn drop-armor"><i class="icon-remove icon-white"></i></a>
  </div>
</td>

<td>
  <div class="btn-group">
    <!-- <a class="btn pin-foot"><i class="icon-map-marker icon-white"></i></a> -->
    <a class="btn foot-slot" 
       data-toggle="popover" 
       data-placement="top" 
       data-content="<%=footJewels%>" title="镶嵌珠">
      <%=foot%></a>
    <a class="btn drop-armor"><i class="icon-remove icon-white"></i></a>
  </div>
</td>

<td><%=defense%></td>

