<label class="radio">
  <input type="radio" name="weapon-type" class="option-saber">剑士
</label>
<label class="radio">
  <input type="radio" name="weapon-type" class="option-archer">射手
</label>
<button class="btn btn-info"><%=caption%></button>

