<div class="span5">
  <div class="hero-unit">
    <h1>Hunter Kit</h1>
    <p>This pure Common Lisp <strong>web application</strong> features a
      front-end interface to <strong>Hunter Kit</strong>, a Common Lisp
      based armor set finder for the Capcom game
      <a href="http://www.monsterhunter.com/"><strong>Hunter Monster
          3</strong></a>. Both are humbly presented
      by <a href="mailto:BreakDS@gmail.com">BreakDS</a> when he is not
      working, and of course, not smashing monsters on his PSP 3000 with
      his girlfriend.</p>
    <p>
      <a class="btn btn-success btn-large btn-start">
        Start Using HunterKit
      </a>
      <a class="btn btn-primary btn-large" href="https://github.com/breakds/HunterKit">
        Source Code on GitHub
      </a>
    </p>
  </div>
  
  
  <div>
    <h3>Usage</h3>
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <img src="hunterkit/icons/select_skill.png">
          <h4>Select Skills</h4>
          <p><span class="label label-success">Search Tab</span> Turn on the skills you want
            by clicking the skill buttons and selecting the
            corresponding entry. Choose from either melee weapon or
            ranged weapon, then click the search button. </p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <img src="hunterkit/icons/refine.png">
          <h4>Refine Results</h4>
          <p><span class="label label-success">Result Tab</span> To
            refine the searching result, click an armor in the result
            list, and choose whether to keep only the armor sets
            containing this armor or remove all the armor sets with
            it.</p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <img src="hunterkit/icons/blacklist.png">
          <h4>Blacklist</h4>
          <p><span class="label label-success">Config Tab</span> You
            can edit the blacklist by search from the armor library for
            a specific armor, and add/remove it from the blacklist. All
            the drill-only earings are in the blacklist by default.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="hero-unit span7">
  <p> <strong>Hunter Kit</strong> and its <strong>web app</strong> can
    not exist without the libraries and their authors. </p>
  <!-- sbcl -->
  <!-- hunchentoot -->
  <!-- parenscript -->
  <!-- lazy-bone -->
  <!-- backbone.js -->
  <!-- twitter bootstrap -->
  <!-- masonry -->

  <ul>
    <li class="media">
      <a class="pull-left">
        <img class="media-object" src="hunterkit/icons/commonlisp.png">
      </a>
      <div class="media-body text-small">
        <strong><a href="http://www.sbcl.org/">SBCL</a></strong> 
        <small> is a high performance Common Lisp compiler. </small> 
      </div>
    </li>
    
    <li class="media">
      <a class="pull-left">
        <img class="media-object" src="hunterkit/icons/commonlisp.png">
      </a>
      <div class="media-body text-small">
        <strong><a href="http://weitz.de/hunchentoot/">HUNCHENTOOT</a></strong> 
        <small> is a web server written in Common Lisp and
          at the same time a toolkit for building dynamic
          websites.</small>
      </div>
    </li>

    <li class="media">
      <a class="pull-left">
        <img class="media-object" src="hunterkit/icons/commonlisp.png">
      </a>
      <div class="media-body text-small">
        <strong><a href="http://common-lisp.net/project/parenscript/">Parenscript</a></strong> 
        <small> is a translator from an extended subset of
          Common Lisp to JavaScript.</small>
      </div>
    </li>

    <li class="media">
      <a class="pull-left">
        <img class="media-object" src="hunterkit/icons/commonlisp.png">
      </a>
      <div class="media-body text-small">
        <strong><a href="https://github.com/breakds/lazy-bone">lazy-bone</a></strong> 
        <small> is a common lisp web application framework.</small>
      </div>
    </li>
    
    
    <li class="media">
      <a class="pull-left">
        <img class="media-object" src="hunterkit/icons/javascript.png">
      </a>
      <div class="media-body text-small">
        <strong><a href="http://backbonejs.org/">Backbone.js</a></strong> 
        <small> gives structure to web
          applications.</small>
      </div>
    </li>

    <li class="media">
      <a class="pull-left">
        <img class="media-object" src="hunterkit/icons/javascript.png">
      </a>
      <div class="media-body text-small">
        <strong><a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a></strong> 
        <small> is a sleek, intuitive, and powerful front-end framework for
          faster and easier web development.</small>
      </div>
    </li>
    
    <li class="media">
      <a class="pull-left">
        <img class="media-object" src="hunterkit/icons/javascript.png">
      </a>
      <div class="media-body text-small">
        <strong><a href="http://masonry.desandro.com/">Masonry</a></strong>
        <small> is a cascading grid layout library.</small>
      </div>
    </li>

    <li class="media">
      <a class="pull-left">
        <img class="media-object" src="hunterkit/icons/javascript.png">
      </a>
      <div class="media-body text-small">
        <strong><a href="http://ivaynberg.github.io/select2/">Select2</a></strong>
        <small> is a jQuery based replacement for select boxes. </small>
      </div>
    </li>

  </ul>  
</div>
